[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/IotMining/eureka-server.git
	branch = main
[submodule "config-server"]
	path = config-server
	url = https://github.com/IotMining/config-server.git
	branch = main
